* {
	padding: 0;
	color: #D1913C;
	font-family: 'Comfortaa', cursive;
}

body {
	background-color: black;
}


.test {
	border:2px solid red;
	height: 200px;
	padding: 0;
}

/*INDEX

/*navbar*/

.navbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar a  {
	/*gold colour for text*/
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*end of gold colour for text*/
}

a.navbar-brand {
	font-size: 50px;
	height: 60px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;

}

/*'burger' colour*/
span.icon-bar {
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


li.links a {
	margin-top: 5px;
	font-weight: bold;
}


li.links a:hover,
li.links a:active,
li.links a:focus {
	border-bottom: 4px solid rgb(212,175,55);
	/*background-color: transparent;*/
	height: 46px;
}


.navbar .navbar-collapse {
	/*margin-bottom: 10px;*/
	text-align: center;
}

#first-social {
	margin-left: 50px;
}

li.socials>a {
	width: 24px;
	border-radius: 50%;
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-top: 14px;
	margin-right: 15px;
	padding: 3px 3px 2px 3px;
	-webkit-text-fill-color:black;
}

li.socials>a:visited {
	background-color: rgb(212,175,55);
}



li.socials>a:hover {
	height: 24px;
	/*background-color: rgb(212,175,55);*/
    -ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.socials a i {
	width: 14px;
	color: red;
}

#phone {
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 36%;
	margin: 0;
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*footer*/

.footer {
	height: 100px;
	z-index: 1;
}


.footer li {
	display: inline-block;
	margin-top: 45px;
	padding: 20px;
}

/*HOME*/

/*carousel*/

.carousel-container {
	padding: 0;
}

.carousel-inner {
	width: 100%;
	max-height: 550px;		
	position: relative;
}

div.item {
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.carousel-text {
	position: absolute;
	top: 0;
	animation-duration: 4s;
	color: black;
	padding-left: 0px;
}

.carousel-text h1 {
	font-size: 4.5vw;
	margin-top: 15vw;
}

.carousel-text h3 {
	font-size: 1.5vw;
}

.home-grid {
	padding-top: 100px;
}

.grid-div {
	height: 250px;
	padding: 0;
}

.grid-div h2 {
	position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
	transition: all 0;
	-moz-transition: all 0;
	-webkit-transition: all 0;
	-ms-transition: all 0;
	-o-transition: all 0;
    margin: 0;
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.grid-div h4 {
	position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px;
    border: 2px solid #D1913C;
    border-radius: 25px;
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.grid-image {
	background-position: center; 
	background-size: cover;
}

.silver-back {
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ADA996, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ADA996, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gold-back {
	background: #D1913C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gold-back h2,
.silver-back h2,
.gold-back h4,
.silver-back h4 {
	background: none;
	-webkit-text-fill-color:black;
	color: black;
}

.gold-back h4,
.silver-back h4 {
	border: 2px solid black;
}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
@media (min-width: 1200px) {
// css specific properties col-lg-*
}
 
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/*// css specific properties col-md-**/

.grid-div {
	height: 200px;
}

}
 
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/*// css specific properties col-sm-**/

/*INDEX*/

a.navbar-brand {
	font-size: 43px;
	height: 60px;
}

.navbar-brand h5 {
  font-size:12px;
}


/*HOME*/

.grid-div {
	height: 150px;
}

}
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/*// css specific properties col-xs-**/

.carousel-text h1 {
	margin-top: 12vw;
}

}
 
/* Portrait phones and smaller */
@media (max-width: 480px) {
// css specific properties col-xs-* or none for default
}